[submodule "Perl/myrepos"]
	path = Perl/myrepos
	url = git://myrepos.branchable.com/
[submodule "Shell/rcm"]
	path = Shell/rcm
	url = https://github.com/thoughtbot/rcm.git
[submodule "Python/dotbot"]
	path = Python/dotbot
	url = https://github.com/anishathalye/dotbot.git
